.checkbox-main {
  width: 100%;
  position: relative;
  margin: 0px;
}

#heart {
  position: absolute;
  width: 41px;
  height: 41px;
  right: 16px;
  top: -49px;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
}

.label-heart {
  position: absolute;
  right: 10px;
  top: -60px;
  width: 41px;
  height: 41px;
  color: #f5c518;
  text-shadow: -1px 0px 0 #f5c518, 0px -1px 0 #f5c518, 0px 1px 0 #f5c518,
    0px 1px 0 #f5c518;
  background-color: #fff;
  border-radius: 20px;
  border-color: #f5c518;
  cursor: pointer;
  font-size: 1.2em;
  transition: color 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.label-heart::selection {
  color: none;
  background: transparent;
}

.label-heart::moz-selection {
  color: none;
  background: transparent;
}

#heart:checked + label {
  color: #f5c518;
  // will-change: font-size;
  animation: heart 1s cubic-bezier(0.17, 0.89, 0.32, 1.49);
}

@keyframes heart {
  0%,
  17.5% {
    font-size: 0;
  }
}
