.search-main{
  width: 100%;
  display: flex;
  justify-content: center;
  transform: translate(0px, -50%);
}
.header-search-container {
  width: 78%;
  height: 129px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  box-shadow: 0px 16px 28px rgba(141, 40, 173, 0.15);
  border-radius: 10px;
}
.header-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
}
.header-select {
  width: 28%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.header-year {
  width: 46%;
  height: 68px;
  padding-left: 5px;
  background: #f3f3f3;
  border-radius: 8px;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: rgb(80, 79, 79);
}
.header-movies {
  @extend .header-year;
}
.button-chevron {
  position: relative;
  right: 20px;
  pointer-events: none;
}
.header-text-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 50%;
  .header-input {
    width: 100%;
    background: #f3f3f3;
    border-radius: 8px;
    height: 68px;
    border: none;
    padding-left: 15px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
  }
  img {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 10px;
    // transform: translate(-35px);
  }
}
.header-search-button {
  width: 20%;
  text-decoration: none;

  button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 68px;
    background: #f5c518;
    box-shadow: 0px 7px 20px rgba(141, 40, 173, 0.15);
    border-radius: 8px;
    border: none;

    p {
      text-align: left;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 30px;
      color: #ffffff;
    }
  }
}
