.header-main-container {
  background-image: url("../../Assets/people-with-popcorn-watching-movie-in-cinema-QZ7BYKJ\ 1.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 691px;
  background-color: rgba(245, 197, 24, 0.89);
  .header-pic {
    width: 100%;
    height: 691px;
  }
  }
  .header-circle {
    position: relative;
    width: 150px;
    height: 150px;
    bottom: 608px;
    left: 14.5%;
  }

.header-topic {
  position: absolute;
  width: 587px;
  height: 168px;
  font-family: "Poppins";
  font-style: normal;
  font-size: 65px;
  line-height: 84px;
  left: 15%;
  top: 255px;
  color: #ffffff;
  .welcome {
    font-weight: 500;
    margin: 0px;
  }
  .movie {
    font-weight: 700;
    margin: 0px;
    height: auto;
  }
}
.header-detail {
  position: absolute;
  width: 584px;
  height: 80px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 0px;
  top: 453px;
  left: 15%;
  color: rgba(255, 255, 255, 0.8);
}

