.header-main-container {
  background-image: url("../../Assets/people-with-popcorn-watching-movie-in-cinema-QZ7BYKJ\ 1.png");
  background-size: cover;
  background-repeat: no-repeat;
  //   position: relative;
  width: 100%;
  height: 691px;
  background-color: rgba(245, 197, 24, 0.89);
  .header-circle {
    position: relative;
    width: 150px;
    height: 150px;
    bottom: 608px;
    left: 14.5%;
  }
}
.header-pic {
  width: 100%;
  height: 691px;
}
.header-topic {
  position: absolute;
  width: 587px;
  height: 168px;
  font-family: "Poppins";
  font-style: normal;
  font-size: 65px;
  line-height: 84px;
  left: 15%;
  top: 255px;
  color: #ffffff;
  .welcome {
    font-weight: 500;
    margin: 0px;
  }
  .movie {
    font-weight: 700;
    margin: 0px;
    height: auto;
  }
}
.header-detail {
  position: absolute;
  width: 584px;
  height: 80px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 0px;
  top: 453px;
  left: 15%;
  color: rgba(255, 255, 255, 0.8);
}
.header-search-container {
  position: absolute;
  width: 70%;
  height: 129px;
  left: 15%;
  top: 750px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  box-shadow: 0px 16px 28px rgba(141, 40, 173, 0.15);
  border-radius: 10px;
}
.header-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  .header-year {
    width: 14%;
    height: 68px;
    padding-left: 5px;
    background: #f3f3f3;
    border-radius: 8px;
    border: none;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
  }
  .header-movies {
    @extend .header-year;
  }
  .header-text-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 50%;

    .header-input {
      width: 100%;
      background: #f3f3f3;
      border-radius: 8px;
      height: 68px;
      border: none;
      padding-left: 15px;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;
    }
    img {
      width: 20px;
      height: 20px;
      transform: translate(-35px);
    }
  }
  .header-search-button {
    width: 20%;
    text-decoration: none;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 68px;
    background: #f5c518;
    box-shadow: 0px 7px 20px rgba(141, 40, 173, 0.15);
    border-radius: 8px;
    border: none;
    // font-family: "Poppins";
    // font-style: normal;
    // font-weight: 600;
    // font-size: 20px;
    // line-height: 30px;
    // color: #ffffff;
    p{
      // width: 80%;
      text-align: left;
      font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;
color: #FFFFFF;
    }
  }
}
