@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.nav-header-main {
  height: 128px;
  width: 100%;
  display: flex;
  align-items: center;
  // padding: 46px 0px 14px 75px;
}

.nav-first-container {
  display: flex;
  width: 50%;
  justify-content: center;
}
.nav-link-container {
  display: flex;
  width: 450px;
  align-items: center;
  justify-content: space-between;
}
.nav-links {
  width: 200px;
  display: flex;
  justify-content: space-around;
}
.logo {
  width: 216.59px;
  height: 40.45;
  display: flex;
  align-items: baseline;
}
.movie {
  width: 70%;
  height: 40.45px;
}
.up {
  width: 30%;
  height: 40.45px;
}

.home {
  width: 55px;
  height: 27px;
  text-decoration: none;
  color: #000000;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
}
.favorites {
  @extend .home;
  width: auto;
  font-weight: 500;
  color: rgba(245, 197, 24, 0.9);
}

.nav-second-container {
  display: flex; // @extend .nav-first-container; PC YAKAN SATIR! :)
  width: 50%;
  justify-content: center;
}
.nav-form {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;
}
.nav-input {
  pointer-events: all;
  width: 403px;
  height: 68px;
  background: #f3f3f3;
  border: none;
  border-radius: 8px;
  padding-left: 20px;
  &::placeholder {
    width: 215px;
    height: 27px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #636363;
  }
}
.nav-search-img {
  position: absolute;
  right: 20px;
  width: 20px;
  height: 20px;
  // background: #A4A4A4;
}

@media (max-width: 1050px) {
  .nav-header-main {
    height: 150px;
    flex-direction: column;
    justify-content: space-around;
    align-items:flex-start;
    padding-left: 50px;
  }
  .nav-first-container {
    width: 100;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .nav-input {
    width: 280px;
    height: 40px;
    &::placeholder {
      font-size: 15px;
    }
  }
  .nav-second-container {
    justify-content: flex-start;
  }
  .nav-search-img {
    img {
      width: 20px;
      height: 20px;
    }
  }
  @media (max-width: 520px) {
    .nav-header-main {
      width: 100%;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      height: 180px;
      padding: 0px;
    }
    .nav-first-container {
      width: 100%;
    }
    .nav-link-container {
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    .nav-link-container {
      flex-direction: column;
    }
    .nav-second-container {
      width: 100%;
      padding-left: 0px;
      justify-content: center;
    }
    @media (max-width: 520px) {
      .nav-input {
        width: 220px;
      }
      .nav-search-img{
        right: 10px;
      }
    }
  }
}
