.favs-container{
display: flex;
width: 90%;
justify-content: space-around;
padding: 0px 30px;
max-width: 1510px;
flex-wrap: wrap;

}
.fav-film {
  width: 383px;
  // margin-right: 40px;
}
@media (max-width: 1050px) {
  .fav-nav {
    height: 190px;
  }
}
