.detail-container{
    width: 100%;
    height: 404.19px;
    display: flex;
    justify-content: center;
.rd-poster{
    display: flex;
    width: 281px;
    height: 404.19px;
    border-radius: 20px;
    margin-right: 10px;
}
.detail{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 404.19px;
    justify-content: flex-start;
    align-items: flex-start;
    .rd-first{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .rd-second{
        p{
            width: 819px;
            height: 213px;
                        font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 35px;
        }
    }
}
}