.slide-container{
  width: 80%;
  height: auto;
 
  
}
.slide{
 height: 80vh;
 width: 100%;
 background-repeat: no-repeat;
 background-size: contain;
}
.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 350px;
}

.images-wrap{
  border-color: aqua;
}
