@import "./Components/Slider/slider.scss";
@import "./Components/NavBar/navBar.scss";
@import "./Components/Header/header.scss";
@import "./Components/Slider/slider.scss";

* {
  box-sizing: border-box;
}



@media (max-width: 970px) {
  .nav-first-container {
    width: 65%;
  }
  .nav-input {
    width: 280px;
    height: 40px;
    &::placeholder {
      font-size: 15px;
    }
  }
  .nav-search-img {
    img {
      width: 20px;
      height: 20px;
    }
  }
  .each-slide{
    height: 320px;
  }

  @media (max-width: 820px) {
    .nav-header-main {
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
    }
    .nav-first-container {
      width: 100%;
      justify-content: space-between;
    }
    .nav-link-container {
      width: 100%;
      justify-content: space-between;
    }
    .nav-input {
      width: 200px;
      height: 30px;
      transform: translate(0px, 12px);
      &::placeholder {
        font-size: 12px;
      }
    }
    .nav-search-img {
      transform: translate(0px, 12px);
      right: 6px;
      img {
        width: 16px;
        height: 17px;
      }
    }
    .nav-second-container {
      justify-content: flex-start;
    }
    .each-slide{
      height: 280px;
    }
    @media (max-width: 670px){
      .each-slide{
        height: 200px;
      }
    }
    @media (max-width: 520px){
        .each-slide{
          height: 145px;
        }
    }
    @media (max-width: 400px) {
      .nav-link-container {
        flex-direction: column;
      }
      .each-slide{
        height: 190px;
      }
    }
  }
}
