.slide-container {
  margin-top: 80px;
  padding: 0px 20px;
  height: auto;
  width: 100%;
}
.react-slideshow-container{
  
  width: 100%;  // height: 100vh;
}
.slide{
  height: auto;
}
.each-slide {
  padding:0px 10px;
  
}
.each-slide > div {
  height: 400px;
  background-size: contain;
  background-repeat: no-repeat;
}
